@font-face {
	font-family: "Visby";
	src:
		url("VisbyBoldItalic.woff2") format("woff2"),
		url("VisbyBoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyBold.woff2") format("woff2"),
		url("VisbyBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyExtraboldItalic.woff2") format("woff2"),
		url("VisbyExtraboldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyHeavyItalic.woff2") format("woff2"),
		url("VisbyHeavyItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyHeavy.woff2") format("woff2"),
		url("VisbyHeavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyExtrabold.woff2") format("woff2"),
		url("VisbyExtrabold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyMediumItalic.woff2") format("woff2"),
		url("VisbyMediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyRegular.woff2") format("woff2"),
		url("VisbyRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyLight.woff2") format("woff2"),
		url("VisbyLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyLightItalic.woff2") format("woff2"),
		url("VisbyLightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyItalic.woff2") format("woff2"),
		url("VisbyItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyMedium.woff2") format("woff2"),
		url("VisbyMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyThin.woff2") format("woff2"),
		url("VisbyThin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbySemiboldItalic.woff2") format("woff2"),
		url("VisbySemiboldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbyThinItalic.woff2") format("woff2"),
		url("VisbyThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Visby";
	src:
		url("VisbySemibold.woff2") format("woff2"),
		url("VisbySemibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
